<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="cards.css"> -->
    <link rel="stylesheet" href="../../assets\css/style.css">
</head>
<body>

    <div class="card-flex-wrapper">
        
            <div class="container">
                <div class="card">
                    <img class="card-img" src="img/project.jpg" alt="project">
                    <div class="card-content">
                        <h1 class="text">Project 1</h1>
                        <p class="text">about the project
                        </p>
                        <button type="button" class="small-button button-default">
                            Main Small Button Default
                        </button>
                    </div>
                </div>
            </div>
 
            <div class="container">
                <div class="card">
                    <img class="card-img" src="img/project.jpg" alt="project">
                    <div class="card-content">
                        <h1 class="text">Project 1</h1>
                        <p class="text">about the project
                        </p>
                        <button type="button" class="small-button button-default">
                            Main Small Button Default
                        </button>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="card">
                    <img class="card-img" src="img/project.jpg" alt="project">
                    <div class="card-content">
                        <h1 class="text">Project 1</h1>
                        <p class="text">about the project
                        </p>
                        <button type="button" class="small-button button-default">
                            Main Small Button Default
                        </button>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>