/* Error: Parentheses aren't allowed in plain CSS.
 *    ,
 * 49 |     box-shadow: 0 3rem 6rem (rgba(0, 0, 0, 0.1));
 *    |                             ^
 *    '
 *   components\cards\cards.css 49:29  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Parentheses aren't allowed in plain CSS.\a    \2577 \a 49 \2502      box-shadow: 0 3rem 6rem (rgba(0, 0, 0, 0.1));\d\a    \2502                              ^\a    \2575 \a   components\\cards\\cards.css 49:29  root stylesheet";
}
