:root {
  --main-button-color: #60C9C3;
  --main-button-hover-color: #22615e;
  --main-button-text-color: #ffffff;
  --main-button-inactive-color: #afd5d3;
  --nav-button-hover-color: #F45757;
  --nav-button-text-color: #998E8E;
  --nav-button-inactive-color: none;
}

/* .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */
/*NAV BUTTON*/
.nav-button {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  color: var(--nav-button-text-color);
  background-color: var(--nav-button-inactive-color);
  border: none;
  border-radius: 40px;
  padding: 15px 20px;
  margin: 10px;
  transition: all 0.5s ease;
}

.nav-button.button-default:hover {
  color: var(--main-button-text-color);
  background-color: var(--nav-button-hover-color);
  padding: 20px 25px;
  transition: all 0.5s ease;
}

.nav-button.active {
  color: var(--main-button-text-color);
  background-color: var(--nav-button-hover-color);
  padding: 20px 25px;
}

/*MAIN BUTTON*/
.main-btn {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  color: var(--main-button-text-color);
  background-color: var(--main-button-color);
  border: none;
  border-radius: 40px;
  padding: 18px 100px;
  margin: 10px;
  transition: all 0.5s ease;
}

.main-btn.btn-default:hover {
  background-color: var(--main-button-hover-color);
  padding: 28px 110px;
  margin: 0;
  transition: all 0.5s ease;
}

.main-btn.active {
  background-color: var(--main-button-hover-color);
  padding: 25px 110px;
}

.main-btn.inactive {
  background-color: var(--main-button-inactive-color);
}

/*SMALL BUTTON*/
.small-button {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  color: var(--main-button-text-color);
  background-color: var(--main-button-color);
  border: none;
  border-radius: 40px;
  padding: 10px 50px;
  margin: 10px;
  transition: all 0.5s ease;
}

.small-button.button-default:hover {
  background-color: var(--main-button-hover-color);
  padding: 20px 60px;
  margin: 0;
  transition: all 0.5s ease;
}

.small-button.active {
  background-color: var(--main-button-hover-color);
  padding: 15px 55px;
  transition: all 0.5s ease;
}

.small-button.inactive {
  background-color: var(--main-button-inactive-color);
}

/*BUTTON 1 GROUP*/
.button-group1 {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  color: var(--main-button-text-color);
  background-color: var(--main-button-color);
  border: none;
  border-radius: 10px;
  padding: 8px 8px;
  margin: 10px;
  transition: all 0.1s ease;
}

.button-group1.button-default:hover {
  background-color: var(--main-button-hover-color);
  padding: 18px 18px;
  margin: 0;
  transition: all 0.1s ease;
}

.button-group1.active {
  background-color: var(--main-button-hover-color);
  padding: 10px 10px;
}

.button-group1.inactive {
  background-color: var(--main-button-inactive-color);
}

/*BUTTON 2 GROUP*/
.button-group2 {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  border: solid;
  color: var(--main-button-color);
  border-color: var(--main-button-color);
  border-radius: 10px;
  padding: 8px 8px;
  margin: 10px;
  transition: all 0.1s ease;
}

.button-group2.button-default:hover {
  border: solid;
  color: var(--main-button-hover-color);
  border-color: var(--main-button-hover-color);
  padding: 18px 18px;
  margin: 0;
  transition: all 0.1s ease;
}

.button-group2.active {
  border: solid;
  color: var(--main-button-hover-color);
  border-color: var(--main-button-hover-color);
  padding: 10px 10px;
}

.button-group2.inactive {
  border: solid;
  color: var(--main-button-inactive-color);
  border-color: var(--main-button-inactive-color);
}

* {
  box-sizing: border-box;
  font-family: "poppins";
}

:root {
  --main-button-color: #60C9C3;
  --main-button-hover-color: #22615e;
  --main-button-text-color: #ffffff;
  --main-button-inactive-color: #afd5d3;
  --nav-button-hover-color: #F45757;
  --nav-button-text-color: #998E8E;
  --nav-button-inactive-color: none;
}

/* .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
} */
.card-flex-wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.small-button {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  color: var(--main-button-text-color);
  background-color: var(--main-button-color);
  border: none;
  border-radius: 40px;
  padding: 10px 50px;
  margin: 10px;
  transition: all 0.5s ease;
  min-width: 279px;
  text-align: center;
}

.small-button.button-default:hover {
  background-color: var(--main-button-hover-color);
  padding: 20px 60px;
  margin: 0;
  transition: all 0.5s ease;
}

.container {
  width: 500px;
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}

.container:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.5);
  /* transition: all .5s ease;
  color: red; */
}

.card-img {
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.text {
  margin: 15px;
}

.hero-quote {
  font-size: 30px;
  display: block;
  min-height: auto;
  color: #8a5454;
  text-align: center;
  position: absolute;
  left: 0;
  top: -5;
  margin: 25px;
  transition: all 0.5s ease;
}

.hero-img {
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

@media screen and (max-width: 800px) {
  .hero-quote {
    font-size: 15px;
    transition: all 0.5s ease;
  }
}
:root {
  --main-button-color: #60C9C3;
  --main-button-hover-color: #22615e;
  --main-button-text-color: #ffffff;
  --main-button-inactive-color: #afd5d3;
  --nav-button-hover-color: #F45757;
  --nav-button-text-color: #998E8E;
  --nav-button-inactive-color: none;
}

.logo-button {
  text-decoration: none;
  font-family: "poppins", sans-serif;
  font-weight: 700;
  color: var(--nav-button-text-color);
  background-color: var(--nav-button-inactive-color);
  border: none;
  border-radius: 40px;
  padding: 15px 20px;
  margin: 10px;
  font-size: 20px;
  padding: 20px 25px;
  transition: all 0.5s ease;
}

.nav-button.logo-button:hover {
  font-size: large;
  padding: 20px 25px;
  transition: all 0.5s ease;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar a:hover {
  background-color: var(--brand-color);
  color: white;
  border-radius: 100px;
  padding: 20px;
}

.nav-button {
  text-decoration: none;
  font-family: "poppins", sans-serif;
  font-weight: 700;
  color: var(--nav-button-text-color);
  background-color: var(--nav-button-inactive-color);
  border: none;
  border-radius: 40px;
  padding: 15px 20px;
  margin: 10px;
  transition: all 0.5s ease;
}

.nav-button.button-default:hover {
  color: var(--main-button-text-color);
  background-color: var(--nav-button-hover-color);
  padding: 20px 25px;
  margin: 0;
  transition: all 0.5s ease;
}

.nav-button-menu {
  text-decoration: none;
  font-family: "poppins", sans-serif;
  font-weight: 700;
  color: var(--nav-button-text-color);
  background-color: var(--nav-button-inactive-color);
  border: none;
  border-radius: 40px;
  padding: 15px 20px;
  margin: 10px;
  transition: all 0.5s ease;
}

.nav-button-menu.button-default:hover {
  color: var(--main-button-text-color);
  background-color: var(--nav-button-hover-color);
  padding: 20px 25px;
  transition: all 0.5s ease;
}

@media (max-width: 850px) {
  .nav-button {
    display: none;
  }
}
/* @media (min-width: 850px) {
    .nav-button-menu {
        display: none;
    } */

/*# sourceMappingURL=style.css.map */
